<section>
    <ul class="nav nav-pills car-tabs">
        <li data-ng-class="{active : tab.isSet(1)}">
            <a href data-ng-click="tab.setTab(1)">Specifications</a>
        </li>
        <li data-ng-class="{active : tab.isSet(2)}">
            <a href data-ng-click="tab.setTab(2)">Images ({{car.images.length}})</a>
        </li>
        <li data-ng-class="{active : tab.isSet(3)}">
            <a href data-ng-click="tab.setTab(3)">Reviews ({{car.reviews.length}})</a>
        </li>
    </ul>

    <car-specs data-ng-show="tab.isSet(1)"></car-specs>
    <car-gallery data-ng-show="tab.isSet(2)"></car-gallery>
    <car-reviews data-ng-show="tab.isSet(3)"></car-reviews>
</section>