<div class="row reviews">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <ul>
                <li ng-repeat="review in car.reviews">
                    <blockquote>
                        <strong>{{review.stars}} Stars</strong>
                        {{review.body}}
                        <cite class="clearfix">— by {{review.author}} {{review.date | date:"MM.dd.yyyy 'at' HH:mm"}}</cite>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-sm-12 review-form">
            <form name="reviewForm"
                  data-ng-controller="VehicleReviewController as reviewController"
                  data-ng-submit="reviewForm.$valid && reviewController.addReview(car) && reviewForm.$setPristine()" novalidate>
                <!--  Live Preview -->
                <blockquote>
                    <strong>{{reviewController.review.stars}} Stars</strong>
                    {{reviewController.review.body}}
                    <cite class="clearfix">—{{reviewController.review.author}}</cite>
                </blockquote>

                <!--  Review Form -->
                <fieldset class="form-group">
                    <select name="stars" ng-model="reviewController.review.stars" class="form-control" ng-options="stars for stars in [5,4,3,2,1]"
                            title="Stars" required>
                        <option value>Rate this car</option>
                    </select>
                    <div data-ng-messages="reviewForm.stars.$error">
                        <div class="message"
                             data-ng-message="required">
                            Please, rate this car
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <textarea name="reviewBody" ng-model="reviewController.review.body" class="form-control"
                              placeholder="Write a short review of the product..." title="Review" required></textarea>
                    <div data-ng-messages="reviewForm.reviewBody.$error">
                        <div class="message"
                             data-ng-message="required">
                            Please, describe your impressions
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <input name="email" ng-model="reviewController.review.author" type="email" class="form-control" placeholder="jimmyDean@example.org"
                           title="Email" required/>
                    <div data-ng-messages="reviewForm.email.$error">
                        <div class="message" data-ng-message="required">
                            Please, enter you email address
                        </div>
                        <div class="error" data-ng-message="email">
                            You did not enter your email address correctly...
                        </div>
                    </div>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit Review"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>
