<div class="container-fluid car-description">
    <div class="row title">
        <h1><a href="#">&#8617;</a> {{car.brand}} {{car.model}}
            <small>{{car.about}}</small>
        </h1>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="row">
                <img src="" ng-src="{{mainCarImage}}" class="car-image img-responsive img-thumbnail">
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <ul>
                    <li><b>Brand:</b> {{car.brand}}</li>
                    <li><b>Model:</b> {{car.model}}</li>
                    <li><b>Year:</b> {{car.year}}</li>
                    <li><b>Price:</b> {{car.price | currency:'\u20AC'}}</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <car-tabs></car-tabs>
    </div>
</div>