<ul class="specs">
    <li>
        <span>Engine</span>
        <dl>
            <dt>{{car.engine.capacity}}cc {{car.engine.fuel}}</dt>
            <dd><p>Gearbox: {{car.engine.gearbox}}</p></dd>
        </dl>
    </li>
    <li>
        <span>Security & Environment</span>

        <p><span ng-class="{none: !car.abs}">{{car.abs | checker}}</span> ABS</p>

        <p><span>{{car.esp | checker}}</span> ESP</p>
    </li>
    <li>
        <span>Comfort</span>

        <p><span ng-class="{none: !car.airConditioning}">{{car.airConditioning | checker}}</span> Air
            conditioning</p>

        <p><span ng-class="{none: !car.navigation}">{{car.navigation | checker}}</span> Navigation</p>

        <p><span ng-class="{none: !car.handsFree}">{{car.handsFree | checker}}</span> Hands Free</p>
        <dl>
            <dt>Parking sensors</dt>
            <dd>
                <p><span
                        ng-class="{none: !car.parkingSenors.front}">{{car.parkingSenors.front | checker}}</span>
                    Front</p>

                <p><span ng-class="{none: !car.parkingSenors.rear}">{{car.parkingSenors.rear | checker}}</span>
                    Rear</p>
            </dd>
        </dl>
    </li>
    <li>
        <span>Interior</span>

        <p><span ng-class="{none: !car.leatherInterior}">{{car.leatherInterior | checker}}</span> Leather
            interior</p>

        <p><span ng-class="{none: !car.heatedSeats}">{{car.heatedSeats | checker}}</span> Heated seats</p>
    </li>
    <li>
        <span>Exterior</span>

        <p><span ng-class="{none: !car.alloyWheels}">{{car.alloyWheels | checker}}</span> Alloy wheels</p>

        <p><span ng-class="{none: !car.xenon}">{{car.xenon | checker}}</span> Xenon</p>
    </li>
</ul>