<div class="container-fluid cars-container">
    <div class="row logo">
        <h1>Choose your car!</h1>
    </div>
    <div class="row logo">
        <h2>Only best cars here...</h2>
    </div>
    <div class="row">
        <div class="row">
            <form class="col-md-5 col-md-offset-0 col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10" action="#" id="search">
                <input data-ng-model="searchQuery.name" type="text" size="40"
                       placeholder="Search model..."/>
            </form>
            <form class="col-md-5 col-md-offset-2 col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-10" action="#">
                <select id="sort" class="input-lg form-control" data-ng-model="orderProp">
                    <option value="name">A-Z</option>
                    <option value="-name">Z-A</option>
                    <option value="price">Lowest price</option>
                    <option value="-price">Highest price</option>
                    <option value="-year">Newest</option>
                    <option value="year">Oldest</option>
                </select>
            </form>
        </div>
    </div>
    <div class="row" ng-show="searchQuery.name.length">
        <h4>Searching for: {{searchQuery.name}}, found {{filtered.length}} cars</h4>
    </div>

    <div id="cars">
        <div data-ng-style="{'background-image':'url({{car.image}})'}"
             data-ng-repeat="car in filtered = (cars | filter:searchQuery) | orderBy:orderProp">
            <a href="#/cars/{{car.carId}}">
                <p>{{car.name}} ({{car.year}}) <span class="price">{{car.price | currency:'\u20AC':'0'}}</span><br/>
                    <small>{{car.description}}</small>
                </p>

            </a>
        </div>
    </div>
</div>